body{
  font-size: 2rem;
  color: hsl(240, 38%, 20%);
  font-family: 'Inter', sans-serif;
  text-align: left;

}

img{
  width:70%;
  margin-right:0;
  margin-top: 50px;
}

.backgroung-pattern{
  width: 600px;
  height:600px;
  display: inline-block;
  position:fixed;
  background-image: url(".pattern-bg.svg");
  background-repeat:no-repeat ;
  background-size:contain;
  right:10%;
  z-index: -1;
}

.backgroung-quote{
  width:100px;
  height:100px;
  display: inline-block;
  position:fixed;
  background-image: url("./pattern-quotes.svg");
  background-repeat: no-repeat;
  background-size:contain;
  z-index: -1;
  left:20%;
  top:20%;

}

.quotation{
  display:inline-block;
  position:relative;
  font-weight:500;
  left:100px;
  top:180px;
  z-index: 2;
}

.backgroung-curve{
  width:500px;
  height:100px;
  display: inline-block;
  position:fixed;
  background-image: url("./pattern-curve.svg");
  background-repeat: no-repeat;
  background-size:contain;
  z-index: -1;
  bottom: 0px;
  left: 0px;
}


.name-column{
  display:inline-block;
  position:absolute;
  left:100px;
  bottom:0;
  font-weight:700;
}
.detail-column{
  display:inline-block;
  position:absolute;
  font-color:hsl(240, 18%, 77%);
  font-weight:300;
  left:350px;
  bottom:0;
}

.attribution {
  display:inline-block;
  position:fixed;
  bottom:0;
  left:500px;
  font-size: 11px; text-align: center;

}
.attribution a {
  color: hsl(228, 45%, 44%);
 }
#demo{
  /* display:inline-block;
  position:fixed;
  left:500px;
  bottom:100px; */
}
 .carousel-control-prev-icon, .carousel-control-next-icon {
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
  }
.prev-next-block{
  width:100px;
  height:32px;
  display:inline-block;
  position:absolute;
  right:500px;
  border-radius: 25%;
  background-color:silver;
}
